menuentry "novyra linux live environment" {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% quiet splash
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}